<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
 <h1>Please fill out the form below to determine your postage rate: </h1>
 <form method="post"  action="/pages/postage-results.ejs">
   <div class="form-group">
     <label for="weight">Weight of the object ( in oz. ):</label>
     <input type="text" class="form-control" id="weight" name="weight">
   </div>
   <h2> specify the type of mail:</h2>
   <div class="radio">
     <label><input type="radio" name="mailType" value="1">Letters (Stamped)</label>
     <p>must weigh less than 3.5 oz.</p>
   </div>
   <div class="radio">
     <label><input type="radio" name="mailType" value="2">Letters (Metered)</label>
     <p>must weigh less than 3.5 oz</p>
   </div>
   <div class="radio">
     <label><input type="radio" name="mailType" value="3">Large Envelopes (Flats)</label>
     <p>must weigh less than 13 oz.</p>
   </div>
   <div class="radio">
     <label><input type="radio" name="mailType" value="4">First-Class Package Service—Retail</label>
     <p>must weigh less than 13 oz.</p>
   </div>
   <button type="submit" class="btn btn-default">Submit</button>
 </form>
</body>
</html>
