<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<h1>Thank you for choosing us! </h1>
<p>The weight you specified was: <%= data.weight %></p>
<p>The type of mail you specified was: <%= mailType %></p>
<p>The cost of your mail will be: <%= result %></p>


</body>
</html>
